.mapContainer {
    width: 100%;
    max-width: 100%; 
    margin: 0 auto;
}

.map {
    object-fit: cover; 
    border-radius: 8px;
    height: 400px;
    width: 100%;
}
@media (max-width:768px) {
    .map {
        height: 300px;
    }
    
}
