.container {
    margin: 0 auto;
    padding: 20px 20px 30px;
    text-align: center;
}

.setDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    font-size: 30px;
    font-weight: bold;
    color: #222737;
    margin-bottom: 20px;
}


.cardsContainer {
  display: flex;
  flex-wrap: wrap;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    padding: 20px;
    background-color: #fff;
    text-align: left;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.cardHeading {
    font-size: 1.25rem;
    color: #222737;
    margin-bottom: 10px;
}

.cardDescription {
    color: #7D7D7D;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.cardLink {
    color: #9867FF;
    font-weight: bold;
    text-decoration: none;
}

.cardImageContainer {
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 10px;
}

.imageBackground {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imageForeground {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
}


@media (max-width:768px) {
    .heading {
        font-size: 24px;
    }
    .setDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:481px) {
    .heading {
        font-size: 22px;
    }
}